.virtual/
__pycache__/
*.pyc
.myvenv
db.sqlite3
supabase/
.pdf
.vscode
cookies.txt
Core/__pycache__
.idea/
.venv
.idea/.myenv
.DS_Storesite/
*.js
*.html
*.js.map
*.png
*.gz
*.inv
*.pyc
*.css
*.css.map

.env
search_index.json
sitemap.xml
*.cpython-314.pyc
__pycache__/*.pyc